security:
  jwt:
    token:
      secret-key: ${SECRET-KEY}
      expire-length: ${EXPIRE_TOKEN_TIME:86400000}
spring:
  profiles:
    active: ${APP_PROFILE:test}
spring-doc:
  paths-to-match:
    - /api/**/v1/**
    - /auth/**
  swagger-ui:
    use-root-path: true